.button{
    padding: 3px 45px;
    background-color:black;
    color: white;
    border-color:black;
    border-radius: 50px;
}
.center{
    text-align:center;
}

.content {
    font-size: 2rem;
    padding: 20px;
    margin-bottom: 40px;
  }

  .carousel slide{
    padding-left:24px;
  }

  .bodycolor{
    background-color: rgb(236, 218, 194);
  }

  img{
    border-radius: 60pc;
  }

  #title{
    font-family: fantasy;
    color: rgb(24, 23, 20);
  }

  p{
    font-size: 38px;
    color: rgb(251, 251, 255);
  }
  .carousel-inner .carousel-item img {
    width: 100%; 
    height: auto; 
}

#dark{
  background-color:black;
}

#black{
  color:white;
}

.Location{
  text-align: center;
  background-color: black;
}
