.button{
    padding: 3px 45px;
    background-color:black;
    color: white;
    border-color:black;
    border-radius: 50px;
}
.center{
    text-align:center;
}

.content {
    font-size: 2rem;
    padding: 20px;
    margin-bottom: 40px;
  }

  .carousel slide{
    padding-left:24px;
  }

  .bodycolor{
    background-color: rgb(212, 183, 145);
  }

  img{
    border-radius: 60pc;
    filter: grayscale(100%);
    overflow: hidden;
    
  }

  #title{
    font-family: fantasy;
    color: rgb(24, 23, 20);
    
  }

  p{
    font-size: 25px;
    color: rgb(251, 251, 255);
  }
  .carousel-inner .carousel-item img {
    width: 100%; 
    height: auto; 
}

#dark{
  background-color:black;
}

#black{
  color:white;
}

.Location{
  text-align: center;
  font-size: 40px;
  color:rgb(65, 65, 65)
}

#title{
  font-family: Oxanium;
}

.ppl{
    padding-left: 80px;
    padding-right: 30px;
}

 .women{
  border-color: black;
 }

 .mapp{
  text-align: center;
  padding-bottom: 30px;
 }

.foott{
  color:black;
}

h1{
  padding-left: 15px;
}

